html *{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: rgb(23, 17, 17);
}
nav img {
    height: 2.5rem;
}
.nav-brand {
    font-size: 1.6rem;
}
.nav-link {
    font-size: 1.2rem;
}
.celestito {
    background-color: #3ea4b3;
}
/** seccion quienes somos**/
.quienes__somos {
    padding: 5rem 0;
    text-align: justify;
}
.encabezados {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    padding: 2rem 0;
}
.quienes__somos p {
    color: #ffffff;
}
.quienes__somos i {
    color: #ffffff;
    font-size: 2rem;
    background-color: #3ea4b3;
    text-align: center;
    width: 100%;
    padding: 7px 0 ;
}

@media screen and (max-width: 768px) {
    .quienes__somos{
        display: none;
    }
}

/** Cards **/
.card-body {
    background-color: #3ea4b3;
    color: #ffffff;
}
.card-text {
    text-align: justify;
}
@media screen and (min-width: 768px) {
    .card img {
        height: 14vw;
    }    
}

/**Estilo hr**/
hr{
    color:#3ea4b3;
    size: 3px;
}


/**footer**/
footer {
    background-color: #3ea4b3;
    color: #ffffff;
    padding: 3rem 0;
    margin: auto 0;
}

#final a {
    color: #ffffff;   
}

